* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ...........................................................*/

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo  */
nav>a {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>a>img {
    width: fit-content;
    height: fit-content;
}

/* nav hyperlinks */
nav>div:nth-child(2) {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>div:nth-child(2)>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

nav>div:nth-child(2)>ul>li {
    width: fit-content;
    height: fit-content;
}

nav>div:nth-child(2)>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

nav>div:nth-child(2)>ul>li>a:hover {
    background-color: #fff3e3;
    border-radius: 35%;
    padding: 10%;
    transition: all 0.3s ease-in-out;
}

/* nav icons */
nav>div:last-child {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>div:last-child>a>img {
    width: fit-content;
    height: fit-content;
}

nav>div:last-child>a:hover {
    background-color: #fff3e3;
    border-radius: 50%;
    padding: 2%;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* .......................................................... */

/* hero section */
.shop-hero {
    width: 100%;
    height: 32vh;
    background-image: url(../media/shop-banner.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-hero>h1 {
    font-size: 3rem;
    font-weight: 500;
}

.shop-hero>p>a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}

.shop-hero>p>a:last-child {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: #000;
}

/* ........................................................ */

.blog-container {
    width: 85%;
    height: 300vh;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}

.blog-container>.blog-topic {
    width: 820px;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.blog-container>.blog-topic>.topic-card {
    width: 80%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
}

.blog-container>.blog-topic>.topic-card>img:first-of-type {
    width: 100%;
    height: 60%;
}

.blog-container>.blog-topic>.topic-card>img:last-of-type {
    width: 40%;
    height: 3%;
}


.blog-container>.blog-topic>.topic-card>h3 {
    font-size: 1.875rem;
    font-weight: 500;
}

.blog-container>.blog-topic>.topic-card>p {
    font-size: 1rem;
    font-weight: 400;
    color: #9f9f9f;
}

.blog-container>.blog-topic>.topic-card>a {
    width: fit-content;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid black;
}

.blog-container>.blog-topic>.topic-card>a:hover {
    background-color: #fff3e3;
    padding: 5px;
    transform: scale3d(1.2);
    transition: all 0.3s;
}


/* ..................................... */
.blog-container>.blog-aside {
    width: 30%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* ........................................... */

/* search div */
.blog-container>.blog-aside>.search {
    width: 20vw;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog-container>.blog-aside>.search>input {
    width: 70%;
    height: 60%;
}

.blog-container>.blog-aside>.search>img {
    width: 5%;
    height: 60%;
}



/* ........................................... */

/* category div */
.blog-container>.blog-aside>.category-topics {
    width: 21vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.blog-container>.blog-aside>.category-topics>.ctg {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    color: #9f9f9f;
}

/* .............................................. */

/* recent div */
.blog-container>.blog-aside>.recent {
    width: 21vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.blog-container>.blog-aside>.recent>.recent-card {
    width: 75%;
    height: 8vh;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}

.blog-container>.blog-aside>.recent>.recent-card>div:first-child {
    width: 30%;
    height: 100%;
}

.blog-container>.blog-aside>.recent>.recent-card>div>img {
    width: 100%;
    height: 100%;
}


.blog-container>.blog-aside>.recent>.recent-card>div:last-child {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.blog-container>.blog-aside>.recent>.recent-card>div:last-child>p:last-child {
    font-size: .85rem;
    font-weight: 400;
    color: #9f9f9f;
    text-align: left;
}

/* ........................................................ */

/* footer (pages numbers) */
.pages {
    width: 15%;
    height: 10vh;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

.pages>a {
    background-color: #F9F1E7;
    width: 3vw;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.pages>a:first-child {
    background-color: #B88E2F;
    color: #fff;
}

/* ........................................................ */

.banner {
    background-color: #faf3ea;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner>div {
    width: fit-content;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.banner>div>img {
    object-fit: contain;
}

.banner>div>div {
    object-fit: contain;
    font-size: 1.625rem;
    font-weight: 600;
}

.banner>div>div>p:last-child {
    font-size: 1.25rem;
    font-weight: 500;
    color: #898989;
}

/* .......................................................... */

/* footer section */
footer {
    width: 100%;
    height: 50.5vh;
    display: flex;
    flex-direction: column;
    /* padding: 3%; */
}

/* core div of footer (container) */
footer>.foot-core {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

/* all divs of footer (common att.) */
footer>.foot-core>div {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: #9f9f9f;
}

footer>.foot-core>div>a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 10%;
}

/* first div (core div) */
footer>.foot-core>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer>.foot-core>div:first-child>a {
    font-size: 1.5rem;
    font-weight: 700;
}

/* last div (core div) */
footer>.foot-core>div:last-child {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

footer>.foot-core>div:last-child>div>input {
    width: 16vw;
    height: 5vh;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
}

footer>.foot-core>div:last-child>div>input:last-child {
    width: 7vw;
    background-color: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

footer>.foot-core>div:last-child>div>input:last-child:hover {
    background-color: #fff3e3;
}

/* rights reserved div */
footer>div:last-child {
    width: 100%;
    height: 10%;
    padding: 2% 4%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
}