* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ...........................................................*/

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo  */
nav>a {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>a>img {
    width: fit-content;
    height: fit-content;
}

/* nav hyperlinks */
nav>div:nth-child(2) {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>div:nth-child(2)>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

nav>div:nth-child(2)>ul>li {
    width: fit-content;
    height: fit-content;
}

nav>div:nth-child(2)>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

nav>div:nth-child(2)>ul>li>a:hover {
    background-color: #fff3e3;
    border-radius: 10px;
    padding: 10%;
    transition: all 0.3s ease-in-out;
}

/* nav icons */
nav>div:last-child {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>div:last-child>a>img {
    width: fit-content;
    height: fit-content;
}

nav>div:last-child>a:hover {
    background-color: #fff3e3;
    border-radius: 50%;
    padding: 2%;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* ...........................................................*/

/* hero section */
.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    background-image: url(../media/heroPic.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain;
}

.hero>div {
    background-color: #fff3e3;
    width: 37vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding: 2%;
}

.hero>div>p:first-of-type {
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
}

.hero>div>p:nth-of-type(2) {
    font-size: 3.25rem;
    font-weight: 700;
    color: #b88e2f;
    width: 90%;
}

.hero>div>p:last-of-type {
    font-size: 1.125rem;
    font-weight: 500;
    color: #333333;
}

.hero>div>button {
    width: 12vw;
    height: 7.5vh;
    background-color: #b88e2f;
    padding: 2% 5%;
    cursor: pointer;
    border: none;
    margin-top: 10%;
}

.hero>div>button:hover {
    border: 1px solid #b88e2f;
    padding: 2%;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.hero>div>button>a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* .......................................................... */

/* Browse section */
.browse {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* browse title div */
.browse>div:first-child {
    width: 100%;
    height: fit-content;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: #666;
    padding: 3% 0%;
}

.browse>div>p:first-child {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

/* browse images div  */
.browse>div:last-child {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 3% 0%;
}

.browse>div:last-child>div {
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.browse>div:last-child>div>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.5;
    font-weight: 600;
    color: #333;
}

.browse>div:last-child>div>a>img {
    width: 100%;
    height: 90%;
}

.browse>div:last-child>div>a:hover {
    background-color: #faf3ea;
    border-radius: 7px;
    padding: 2%;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* .......................................................... */

/* our products section */
.products {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* 1th item in products main container (title) */
.products>p {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3a3a3a;
    margin: 3% 0%;
}


/* 2th item in products main container (products cards) */
.products>.products-container {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

/* common cards attr. */
.products>.products-container>.card {
    width: 16vw;
    height: 47vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.products>.products-container>.card>a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #3a3a3a;
}

.products>.products-container>.card>a:hover {
    border-radius: 7px;
    padding: 2%;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.products>.products-container>.card:nth-child(2)>a {
    background-image: url(../media/pro-leviosa.png);
    background-size: 100% 100%;
    background-position: center;
}

/* image div */
.products>.products-container>.card>a>div:first-child {
    width: 100%;
    height: 70%;
}

.products>.products-container>.card>a>div:first-child>img {
    width: 100%;
    height: 100%;
}

/* text div */
.products>.products-container>.card>a>div:last-child {
    background-color: #F4F5F7;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1% 4%;
}


.products>.products-container>.card>a>div:last-child>p:nth-child(2) {
    font-size: 1rem;
    font-weight: 500;
    color: #898989;
}

.products>.products-container>.card>a>div:last-child>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #3a3a3a;
}


.products>.products-container>.card>a>div:last-child>div>p:nth-child(2) {
    font-size: 0.75rem;
    font-weight: 400;
    color: #b0b0b0;
    text-decoration: line-through;
}

/* 3th item in products main container (button) */
.products>a {
    background-color: #fff;
    width: 13vw;
    height: 4.8vh;
    border: 1px solid #B88E2F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #B88E2F;
    margin: 3% 0%;
}

.products>a:hover {
    background-color: #B88E2F;
    color: #fff;
    border-radius: 7px;
    transform: scale(1.2);
    transition: all 0.3s;
}

/* .......................................................... */

/* beautiful inspiration section */
.inspiration {
    background-color: #FCF8F3;
    width: 100%;
    height: 67vh;

    display: flex;
    align-items: center;
}

/* text div */
.inspiration>div:first-child {
    background-color: deeppink;
    width: 35%;
    height: 50%;

    font-size: 2.5rem;
    font-weight: 700;
    color: #3A3A3A;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5%;
}

.inspiration>div:first-child>p:nth-child(2) {
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    color: #616161;
}


.inspiration>div:first-child>a {
    background-color: #b88e2f;
    text-decoration: none;
    width: 9vw;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.inspiration>div:first-child>a:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}



/* pictures div */
.inspiration>.inspire-pics {
    background-color: deepskyblue;
    width: 65%;
    height: 90%;

    display: flex;
    overflow: hidden;
    justify-content: space-between;
    gap: 1%;
}


.inspiration>.inspire-pics>div {
    background-color: darkorange;
    width: 25vw;
    height: 50%;
    display: flex;
}














/* .......................................................... */
/* section {
  background-color: red;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
} */

/* .......................................................... */

/* banner section */
.banner {
    background-color: #faf3ea;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner>div {
    width: fit-content;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.banner>div>img {
    object-fit: contain;
}

.banner>div>div {
    object-fit: contain;
    font-size: 1.625rem;
    font-weight: 600;
}

.banner>div>div>p:last-child {
    font-size: 1.25rem;
    font-weight: 500;
    color: #898989;
}

/* .......................................................... */

/* footer section */
footer {
    width: 100%;
    height: 50.5vh;
    display: flex;
    flex-direction: column;
    /* padding: 3%; */
}

/* core div of footer (container) */
footer>.foot-core {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

/* all divs of footer (common att.) */
footer>.foot-core>div {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: #9f9f9f;
}

footer>.foot-core>div>a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 10%;
}

/* first div (core div) */
footer>.foot-core>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer>.foot-core>div:first-child>a {
    font-size: 1.5rem;
    font-weight: 700;
}

/* last div (core div) */
footer>.foot-core>div:last-child {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

footer>.foot-core>div:last-child>div>input {
    width: 16vw;
    height: 5vh;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
}

footer>.foot-core>div:last-child>div>input:last-child {
    width: 7vw;
    background-color: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

footer>.foot-core>div:last-child>div>input:last-child:hover {
    background-color: #fff3e3;
}

/* rights reserved div */
footer>div:last-child {
    width: 100%;
    height: 10%;
    padding: 2% 4%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
}