* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ...........................................................*/

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo  */
nav>a {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>a>img {
  width: fit-content;
  height: fit-content;
}

/* nav hyperlinks */
nav>div:nth-child(2) {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav>div:nth-child(2)>ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}

nav>div:nth-child(2)>ul>li {
  width: fit-content;
  height: fit-content;
}

nav>div:nth-child(2)>ul>li>a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

nav>div:nth-child(2)>ul>li>a:hover {
  background-color: #fff3e3;
  border-radius: 35%;
  padding: 10%;
  transition: all 0.3s ease-in-out;
}

/* nav icons */
nav>div:last-child {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav>div:last-child>a>img {
  width: fit-content;
  height: fit-content;
}

nav>div:last-child>a:hover {
  background-color: #fff3e3;
  border-radius: 50%;
  padding: 2%;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

/* .......................................................... */
.banner {
  background-color: #faf3ea;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  height: 27vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner>div {
  width: fit-content;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}

.banner>div>img {
  object-fit: contain;
}

.banner>div>div {
  object-fit: contain;
  font-size: 1.625rem;
  font-weight: 600;
}

.banner>div>div>p:last-child {
  font-size: 1.25rem;
  font-weight: 500;
  color: #898989;
}

/* .......................................................... */

/* hero section */
.shop-hero {
  width: 100%;
  height: 32vh;
  background-image: url(../media/shop-banner.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-hero>h1 {
  font-size: 3rem;
  font-weight: 500;
}

.shop-hero>p>a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.shop-hero>p>a:last-child {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: #000;
}

/* .......................................................... */

/* filter bar */
.filter {
  background-color: #F9F1E7;
  margin-bottom: 3%;
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: space-evenly;
  align-content: center;
}


/* div common attr. */
.filter>div {
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 2%;
}

/* first div elements */
.filter>div>p:last-child {
  border-left: 1px solid #000;
  padding: 2%;
  margin-left: 2%;
  font-size: 1rem;
}

.filter>div>img {
  width: fit-content;
  height: fit-content;
  padding: 0.5%;
}


/* last div elements */
.filter>div:last-child {
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
}

.filter>div:last-child>input:first-child {
  width: 7%;
  text-align: center;
  margin: 0% 1%;
}

.filter>div:last-child>input:last-child {
  width: 15%;
  text-align: center;
  margin: 0% 1%;
}


/* .......................................................... */

/* products container and cards */
.products {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 1th item in products main container (title) */
.products>p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #3a3a3a;
  margin: 3% 0%;
}


/* 2th item in products main container (products cards) */
.products>.products-container {
  width: 70%;
  height: 200vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

/* common cards attr. */
.products>.products-container>.card {
  width: 16vw;
  height: 47vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products>.products-container>.card>a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3a3a3a;
}

.products>.products-container>.card>a:hover {
  border-radius: 7px;
  padding: 2%;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.products>.products-container>.card:nth-child(2)>a,
.products>.products-container>.card:nth-child(10)>a {
  background-image: url(../media/pro-leviosa.png);
  background-size: 100% 100%;
  background-position: center;
}


/* image div */
.products>.products-container>.card>a>div:first-child {
  width: 100%;
  height: 70%;
}

.products>.products-container>.card>a>div:first-child>img {
  width: 100%;
  height: 100%;
}

/* text div */
.products>.products-container>.card>a>div:last-child {
  background-color: #F4F5F7;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1% 4%;
}


.products>.products-container>.card>a>div:last-child>p:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  color: #898989;
}

.products>.products-container>.card>a>div:last-child>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}


.products>.products-container>.card>a>div:last-child>div>p:nth-child(2) {
  font-size: 0.75rem;
  font-weight: 400;
  color: #b0b0b0;
  text-decoration: line-through;
}

/* 3th item in products main container (button) */
.products>div:last-child {
  margin: 3% 0%;
  width: 15%;
  display: flex;
  justify-content: space-between;
}



.products>div:last-child>a {
  background-color: #F9F1E7;
  width: 3.125vw;
  height: 6vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 400;
  color: #000;
  margin: 3% 0%;
}

.products>div:last-child>a:first-child {
  background-color: #B88E2F;
  color: #fff;
}

.products>a:hover {
  background-color: #B88E2F;
  color: #fff;
  border-radius: 7px;
  transform: scale(1.2);
  transition: all 0.3s;
}

/* .......................................................... */



/* footer section */
footer {
  width: 100%;
  height: 50.5vh;
  display: flex;
  flex-direction: column;
  /* padding: 3%; */
}

/* core div of footer (container) */
footer>.foot-core {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
}

/* all divs of footer (common att.) */
footer>.foot-core>div {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  color: #9f9f9f;
}

footer>.foot-core>div>a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 10%;
}

/* first div (core div) */
footer>.foot-core>div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer>.foot-core>div:first-child>a {
  font-size: 1.5rem;
  font-weight: 700;
}

/* last div (core div) */
footer>.foot-core>div:last-child {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}

footer>.foot-core>div:last-child>div>input {
  width: 16vw;
  height: 5vh;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
}

footer>.foot-core>div:last-child>div>input:last-child {
  width: 7vw;
  background-color: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

footer>.foot-core>div:last-child>div>input:last-child:hover {
  background-color: #fff3e3;
}

/* rights reserved div */
footer>div:last-child {
  width: 100%;
  height: 10%;
  padding: 2% 4%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}